@font-face {
    font-family: "TTFirs-Black"; 
    src: url("../fonts/TTFirs-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 
@font-face {
    font-family: "RadiateSans-BoldSemiExpanded"; 
    src: url("../fonts/radiate-sans-semi-bold-semi-expanded.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 


body{
    margin: 0;
}
a{
    text-decoration: none
}
ul{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}
h1 {
    font-size: 0em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
/*HEADEAR*/

.header {
    background: url('/content/header/bg.png') left no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header a{
    color: white;
}
.header__top {
    display: flex;
    justify-content: space-between;
    height: 74px;
    align-items: center;
    
}
.header__left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 85px 0px 0px;
}
.header__left-title {

}
.header__left-title a{
    font-family: TTFirs-Black;
    font-size: calc(25px + (41 - 30) * ((100vw - 375px) / (1920 - 375)));
    line-height: 42.19px;
    letter-spacing: 0.03em;
    text-align: left;
}
.header__left-decor {
    width: 50px;
    height: 2px;
    border-top: 2px solid #ffffff;  
    margin: 2px 10px 0px 20px;
}
.header__left-list {

}
.header__menu-list {
    display: flex;
}
.header__menu-item {
    margin: 0px 17px 0px 12px;
}
.header__menu-item a{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.62px;
    text-align: left;

}
.header__right {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 85px;
}
.header__right a{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.62px;
    text-align: left;
}

.header__right-lang {

}
.header__right-currency {
    display: flex;
    align-items: center;
    margin: 0px 49px 0px 36px;
}
.header__right-currency img{
    margin-right: 10px;
}
.header__right-currency a {
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.62px;
    text-align: left;
}
.currency-img {

}
.header__right-button {
    padding: 11px 20px 10px 20px;
    gap: 10px;
    background: #FFCF5C;    
    color: black;
}
.header__right-number-full {
    margin: 0px 15px 0px 15px;
}
.header__right-number-full a{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.62px;
    text-align: left;
}
.header__right-number {

}
.header__right-soc a{
    padding: 0px 8px 0px 0px;
}
.header__right-burger {
    margin: 0px 0px 0px 15px;
}
.header__subheader {
    height: 40px;
}
.header__buttom-menu {
    display: flex;
    justify-content: center;
}
.header__buttom-link {
    padding: 1px 30px 0px 30px;
}
.header__buttom-link a{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.62px;
    text-align: left;
    
}
.header__title {
    width: 1320px;
    height: 433px;
    padding: 45px 0px 55px 0px
}
.header__title-text {
    padding: 0px 0px 20px 0px
}
.header__title-text h1{
    font-family: TTFirs-Black;
    font-size: 56px;
    font-weight: 400;
    line-height: 67.2px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;    
}
.header__title-author {
    display: flex;
    align-items: center;
}
.title__author-photo {
    margin: 0px 0px 0px -25px;
}
.title__author-info{
    padding: 0px 0px 0px 5px;
}
.title__author-name {
    font-family: TTFirs-Black;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.94px;
    letter-spacing: 0.03em;
    text-align: left;
    color: white;
    height: 24px;
    width: 340px;
    padding: 8px 0px 7px 0px
}
.title__author-text {
    font-family: TTFirs-Black;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.62px;
    letter-spacing: 0.02em;
    text-align: left;
    color: white;
    height: 43px;
    width: 340px;
}
.header__title-info {
    padding: 22px 0px 0px 0px;
}
.title__info-dates {
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.62px;
    text-align: left;
    color: white;    
    padding: 0px 0px 19px 0px;
}
.title__info-dates span{
    margin: 0px 18px 0px 0px;
}
.title__info-stats {
    padding: 0px 0px 10px 0px;
}
.title__info-tags {
    display: flex;
}

.info-tags-links {
    margin: 0px 13px 0px 0px;
}

.info-tags-button {
    padding: 6px 20px 6px 20px;
    border-radius: 15px 15px 15px 15px;
    background: #FFCF5C;   
    color: black;
}

/*HEADEAR*/



/*MAIN*/

.main {
    display: flex;
    justify-content: center;
    padding: 50px 78px 50px 163px;
}
.main__left {
    width: 870px;
}
.breadcrumbs {
    margin: 0px 0px 50px 0px;
}
.breadcrumbs a:last-child{
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.17px;
    text-align: left;
    color: #FFCF5C;
}
.breadcrumbs-links {
    font-family: Century Gothic;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.17px;
    text-align: left;    
}
.main__text1 {
    font-family: Century Gothic;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: black;    
    margin: 0px 0px 43px 0px;
}
.main__text2-title {
    font-family: RadiateSans-BoldSemiExpanded;
    font-size: 32px;
    font-weight: 400;
    line-height: 51.39px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #FFC24B;    
    margin: 0px 0px 26px 0px;
}
.main__text2 {
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;    
}
.main__right {
    display: flex;
    border-left: 1px solid #CCCCCC;
    margin: 0px 0px 0px 37px;
}
.main__right-content {
    width: 420px;
    padding: 26px 26px 26px 4px;
}
.main__right-content span{
    font-family: RadiateSans-BoldSemiExpanded;
    font-size: 18px;
    font-weight: 400;
    line-height: 25.2px;
    text-align: left;
    margin: 0px 0px 0px 20px;
}
.right__content-list {
    margin: 30px 0px 0px 20px;
    
}
.right__content-links {
    border-left: 5px solid #CCCCCC;
    margin-bottom: 1.22em;
    padding: 0px 0px 0px 10px;
}
.right__content-links a{
    font-family: Century Gothic;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    text-align: left;
    color: black;
}
.main__right-contactus {
    display: flex;
    flex-direction: column;
}
.main__right-contactus img{
    margin-bottom: 10px;
}

/*MAIN*/




/*АДАПТАЦИЯ ЭКРАНА*/

@media screen and (max-width: 1600px) {
    .header__top {
        display: block;
        height: 85px;
    }
    .header__title {
        width: 1000px;
        height: 433px;
        padding: 45px 0px 55px 0px;
    }
    .header {
        height: 720px;
    }
}

@media screen and (max-width: 1200px) {
    .breadcrumbs-links {
        font-size: 12px;
    }
    .breadcrumbs a:last-child {
        font-size: 12px;
    }
    .breadcrumbs {
        margin: 0px 0px 30px 0px;
    }
    .main__text1 {
        font-size: 18px;
        margin: 0px 0px 20px 0px;
    }
    .main__text2-title {
        font-size: 25px;
        margin: 0px 0px 20px 0px;
    }
    .main__text2 {
        font-size: 18px;
    }
}
@media screen and (max-width: 1100px) {
    .header {
        height: 600px;
    }
    .header__title-text h1 {
        font-size: 35px;
    }
    .header__title {
        width: 770px;
    }
    .title__author-name {
        font-size: 15px;
    }
    .title__author-text {
        font-size: 12px;
    }
    .title__info-dates {
        font-size: 14px;
    }
    .title__author-photo img{
        width: 120px;
        height: 120px;
    }
    .title__info-stats img{
        width: 400px;
        height: 30px;
    }
    .info-tags-button {
        padding: 5px 15px 5px 15px;
    }
    .breadcrumbs-links {
        font-size: 11px;
    }
    .breadcrumbs a:last-child {
        font-size: 11px;
    }
    .breadcrumbs {
        margin: 0px 0px 25px 0px;
    }
    .main {
        padding: 40px 55px 50px 55px;
    }
    .main__text1 {
        font-size: 17px;
        margin: 0px 0px 15px 0px;
    }
    .main__text2-title {
        font-size: 24px;
        margin: 0px 0px 15px 0px;
    }
    .main__text2 {
        font-size: 17px;
    }
    .main__right-content {
        width: 300px;
    }
    .main__right-content span{
        font-size: 16px;
        margin: 0px 0px 0px 20px;
    }
    .right__content-list {
        margin: 30px 0px 0px 20px;
        
    }
    .right__content-links {
        margin-bottom: 1.20em;
        padding: 0px 0px 0px 10px;
    }
    .right__content-links a{
        font-size: 14px;
    }
    
}


@media screen and (max-width: 1000px) {
    .breadcrumbs-links {
        font-size: 11px;
    }
    .breadcrumbs a:last-child {
        font-size: 11px;
    }
    .breadcrumbs {
        margin: 0px 0px 25px 0px;
    }
    .main__text1 {
        font-size: 17px;
        margin: 0px 0px 15px 0px;
    }
    .main__text2-title {
        font-size: 24px;
        margin: 0px 0px 15px 0px;
    }
    .main__text2 {
        font-size: 17px;
    }
    .main__right-content {
        width: 300px;
    }
    .main__right-content span{
        font-size: 16px;
        margin: 0px 0px 0px 20px;
    }
    .right__content-list {
        margin: 30px 0px 0px 20px;
        
    }
    .right__content-links {
        margin-bottom: 1.20em;
        padding: 0px 0px 0px 10px;
    }
    .right__content-links a{
        font-size: 14px;
    }
    
}


@media screen and (max-width: 850px) {
    .header__top {
        height: 102px;
    }
    .header__title {
        width: 530px;
    }
    .header__title-text h1 {
        font-size: 25px;
        line-height: 39.2px;
    }

    .main__right-content {
        width: 220px;
    }
    .header__right-button {
        display: none;
    }
    .header__left-title a {
        font-size: 20px;
    }
    .header__left-decor {
        width: 20px;
    }
    .header__menu-item a {
        font-size: 12px;
    }
    .header__menu-item {
        margin: 0px 5px 0px 5px;
    }
    .header__right a {
        font-size: 12px;
    }
    .header__right-currency img {
        width: 15px;
        height: 15px;
    }
    .header__right-currency {
        margin: 0px 15px 0px 15px;
    }
    .header__right-number-full {
        margin: 0px 10px 0px 10px;
    }
    .header__right-soc {
        display: flex;
        flex-direction: column;
    }
    .header__right-soc a img{
        width: 16px;
        height: 14px;
    }
    .header__buttom-link {
        padding: 1px 6px 0px 6px;
    }
    .header__buttom-link a {
        font-size: 13px;
    }
    .main__right-contactus img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 650px) {
    .header{
        height: 460px;
    }
    .header__top {
        display: flex;
    }
    .header__right-lang{
        display: none;
    }
    .header__right-currency{
        display: none;
    }
    .header__right-number-full{
        display: none;
    }
    .header__right-soc{
        display: none;
    }
    .header__left {
        margin: 0px 25px 0px 0px;
    }
    .header__right {
        margin: 0px 0px 0px 25px;
    }

    .title__author-name {
        font-size: 12px;
    }
    .title__author-text {
        font-size: 10px;
    }
    .title__info-dates {
        font-size: 10px;
    }
    .title__author-photo img{
        width: 100px;
        height: 100px;
    }
    .title__info-stats img{
        width: 300px;
        height: 23px;
    }
    .info-tags-button {
        font-size: 10px;
        padding: 5px 10px 5px 10px;
    }
    .breadcrumbs-links {
        font-size: 10px;
    }
    .breadcrumbs a:last-child {
        font-size: 10px;
    }
    .breadcrumbs {
        margin: 30px 0px 25px 0px;
    }
    .main {
        display: flex;
        padding: 40px 0px 40px 0px;
        flex-direction: column-reverse;
        align-items: center;
    }
    .main__left {
        width: 490px;
    }
    .main__text1 {
        font-size: 17px;
        margin: 0px 0px 15px 0px;
    }
    .main__text2-title {
        font-size: 24px;
        margin: 0px 0px 15px 0px;
    }
    .main__text2 {
        font-size: 17px;
    }
    .main__right-content {
        width: 300px;
    }
    .main__right-content span{
        font-size: 16px;
        margin: 0px 0px 0px 20px;
    }
    .right__content-list {
        margin: 30px 0px 0px 20px;
        
    }
    .right__content-links {
        margin-bottom: 1.20em;
        padding: 0px 0px 0px 10px;
    }
    .right__content-links a{
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .header{
        height: 500px;
    }
    .header__left-decor{
        display: none;

    }
    .header__left-list{
        display: none;
    }
    .header__left {
        margin: 0px 95px 0px 0px;
    }
    .header__right {
        margin: 0px 0px 0px 95px;
    }
    .header__subheader{
        display: none;
    }
    .header__title {
        width: 335px;
    }
    .header__title-text {
        padding: 0px 0px 0px 0px;
    }
    .header__title-text h1 {
        font-family: TTFirs-Black;
        font-size: 28px;
        font-weight: 400;
        line-height: 38.05px;
        letter-spacing: 0.03em;
        text-align: left;
        
    }
    .title__author-photo img {
        width: 80px;
        height: 80px;
    }
    .title__author-name {
        font-family: TTFirs-Black;
        font-size: 15px;
        font-weight: 400;
        line-height: 29.94px;
        letter-spacing: 0.03em;
        text-align: left;
        color: white;
        height: 24px;
        width: 180px;
        padding: 8px 0px 7px 0px;
    }
    .title__author-text {
        font-family: TTFirs-Black;
        font-size: 10px;
        font-weight: 400;
        line-height: 9.62px;
        letter-spacing: 0.02em;
        text-align: left;
        color: white;
        height: 43px;
        width: 255px;
    }
    .title__author-photo {
        margin: 0px 0px 0px -15px;
    }
    .title__info-dates{
        display: flex;
    }
    .title__info-dates {
        display: flex;
        flex-direction: column;
        padding: 0px 0px 5px 0px;

    }
    .header__title-info {
        padding: 0px 0px 0px 0px;
    }
    .title__info-stats {
        padding: 0px 0px 0px 0px;
    }
    .main__left {
        width: 320px;
    }
    .main__text1 {
        font-size: 14px;
        margin: 0px 0px 10px 0px;
    }
    .main__text2-title {
        font-size: 19px;
        margin: 0px 0px 10px 0px;
    }
    .main__text2 {
        font-size: 14px;
    }
    .main__right-contactus{
        display: none;
    }
    .main__right {
        margin: 0px 0px 0px 0px;
    }
}
/*АДАПТАЦИЯ ЭКРАНА*/

