body{
    margin: 0;
}

/*HEADEAR*/

.header {
    background: url('/content/header/bg.png') left no-repeat;
    background-size: cover;
    background-position: center;
}
.header__top {
    
}
.header__left {

}
.header__left-title {

}
.header__left-decor {

}
.header__left-list {

}
.header__menu-list {

}
.header__menu-item {

}
.header__right {
    
}
.header__right-lang {

}
.header__right-currency {

}
.currency-img {

}
.header__right-button {

}
.header__right-number-full {

}
.header__right-number {

}
.header__right-soc {

}
.header__right-burger {
    
}
.header__subheader {

}
.header__buttom-menu {
    
}
.header__buttom-link {

}
.header__title {

}
.header__title-text {

}
.header__title-author {

}
.title__author-photo {

}
.title__author-name {

}
.title__author-text {

}
.header__title-info {

}
.title__info-dates {

}
.title__info-stats {

}
.title__info-tags {

}
.info-tags-links {
}

.info-tags-button {

}

/*HEADEAR*/



/*MAIN*/

.main {

}
.main__left {

}
.breadcrumbs {

}
.breadcrumbs-links {

}
.main__text1 {

}
.main__text2-title {

}
.main__text2 {

}
.main__right {

}
.main__right-content {

}
.right__content-list {

}
.right__content-links {

}
.main__right-contactus {

}

/*MAIN*/